body{
    background-color:bisque;
}

#parent-container{
    background-color:aqua;
    border:solid black 2px;
    display:flex;
    flex-direction:column;
    padding:40px;
    gap:50px;
}

.child-container{
    background-color:lightcoral;
    height:50px;
    width: 400px;
    border: black solid 2px;;
}

.child{
    background-color:lightcoral;
    padding:20px;    
    border: black solid 2px;;
    display:flex;
    flex-direction: column;
}

.dua{
    background-color:lightcoral;
    height:90px;
    width: 400px;
    border: black solid 2px;;   
}